{% extends '::backend.html.twig' %}

{% block contenido -%}
    <h1>Provincia creation</h1>

    <form action="{{ path('prov_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('prov') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
