
{% block field_row %}
<div class="control-group{% if form_errors(form) %} error{% endif %}">
    <label class="control-label">form_label(form): </label>
    <div class="controls">
        {{ form_widget(form) }}
        <span class="help-inline">{{ form_errors(form) }}</span>
    </div>
</div>
{% endblock field_row %}