{% extends '::backend.html.twig' %}

{% block contenido %}
<div class="hero-unit">
        <h2>Panel de administracion</h2>
        <p>Escoja la entidad para editarla completamente.</p>
        <p><a class="btn btn-primary btn-large" href="{{ path('frontend_iniciopage') }}">Volver a la pagina</a></p>
</div>
{% endblock %}