{% extends '::frontend.html.twig' %}

{% block title %}
    Ayuda
{% endblock %}

{% block contenido %}
<div id="ayuda" class="row-fluid">
    <h2>Ayuda</h2>

    <p>Toda la ayuda para ayudarlo hacer ayudado:</p>
    <ul>
        <li>Primero lo primero, ande por donde quiera</li>
        <li>Segundo lo segundo</li>
        <li>Y por &uacute;ltimo ... nothing else matter ...</li>
    </ul>
</div>
{% endblock %}