{% extends '::frontend.html.twig' %}

{% block title %}
Mapa del sitio
{% endblock %}

{% block contenido %}

<div id="mapasitio" class="row-fluid">
    <h2>Mapa sitio</h2>

    <p>Este sitio apesta la verdad no se como pueden venir hasta aqui :P</p>
</div>

{% endblock %}